.home-page-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  height: 100vh;
  background-size: cover;
}
.home-heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 34px;
}
.home-card {
  padding-left: 20px;
}
.home-text {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 24px;
}
.find-job-button {
  background-color: #4f46e5;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .home-page-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    height: 100vh;
    background-size: cover;
  }

  .home-heading {
    font-size: 84px;
  }
  .home-text {
    font-size: 32px;
  }
  .find-job-button {
    width: 130px;
    height: 40px;
    font-size: 18px;
    font-family: 'Roboto';
  }
}
